.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-buttons button {
    margin: 10px;
}
